body {
    margin: 0;

}

.container {
    width: 360px;
    margin: 0 auto;
}

.margin {
    margin: 0 10px;
}

.headder-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;

}

.logo {
    width: 150px;
    margin-right: 50px;
    margin-left: 0;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 10px;
}

h1 {
    font-size: medium;
    margin: 15px 20px;
}

h1 span {
    display: block;
    font-size: smaller;
    font-weight: 200;
}

.flex-container {
    display: flex;
    justify-content: flex-start;
}

.main-image {
    min-width: 360px;
    width: 100%;
    margin: 0 auto;
    display: block;
}

.btn {
    width: 25px;
    padding: 5px;
    margin-top: 15px;
    cursor: pointer;
}

section h3,
p {
    margin-left: 10px;
}


p {
    font-weight: bold;

}

p span {
    font-weight: 200;
}

.container-end {
    border-bottom: 30px solid lightgray;
}